*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;

}

.intro{
    justify-content: center;
}
.sec1{
    background-image: url("./images/desktop/image-hero.jpg");
    height: 650px;
    background-repeat: no-repeat;
}
.sec1 section{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    padding: 70px 140px;

}
.sec1 .logo{
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
}
.nav_btn{
    display: none;
}
.sec1 section div{
    text-align: center;
}
.sec1 ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    font-weight: 900;
}
.sec1 ul li{
    cursor: pointer;
    padding: 5px;
    color: white;
}
.sec1 ul li:hover{
    color:blue
}
.immersive{
    font-size: 70px;
    color: white;
    padding: 30px;
    width: 80%;
}

.mid{
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    padding: 100px 0;

}
.lead div{
    background-image: url("images/desktop/image-interactive.jpg");
    height: 500px;
    width: 731px;
}
.description{
    position: absolute;
    top: 100%;
    left: 60%;
    width: 350px;
    background-color: white;
    padding: 50px;
}
.description .title_dex{
    font-size: 55px;
}

.creations .c{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.creations .c div{
    font-size: 65px;
}
.c .b{
    text-align: right;
}
.c div button{
    font-size: 20px;
    width: 100px;
}

.myimages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.myimages div{
    height: 450px;
    width: 256px;
    border: solid white 5px;
}

.deep{
    background-image: url("./images/desktop/image-deep-earth.jpg");
}
.arcade{
    background-image: url("./images/desktop/image-night-arcade.jpg");
}
.soccer{
    background-image: url("./images/desktop/image-soccer-team.jpg");
}
.thegrid{
    background-image: url("./images/desktop/image-grid.jpg");
}
.above{
    background-image: url("./images/desktop/image-from-above.jpg");
}
.borealis{
    background-image: url("./images/desktop/image-pocket-borealis.jpg");
}
.curiosity{
    background-image: url("./images/desktop/image-curiosity.jpg");
}
.fisheye{
    background-image: url("./images/desktop/image-fisheye.jpg");
}

footer{
    color: white;
    background-color: black;
}
.foot{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    padding: 15px 140px;
}
.foot .social{
    text-align: right;
}
.foot .social a{
    padding: 5px;
}
.foot a{
    cursor: pointer;
}
.foot div ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    justify-content: left;
}
.foot div ul li{
    text-align: center;
    padding-right: 10px;
}
.foot .l{
    text-align: right;
}

@media only screen and (min-width: 1442px){
    .sec1{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}