*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
/*      intro section   */
.intro{
    color: white;
    position: relative;
}
.hero_image_holder{
    height: 100%;
    width: 100%;
}
.nav{
    top: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.nav_icon{
    display: grid;
    justify-content: right;
    padding: 25% 20% 0 0;
}

.main_txt{
    position: absolute;
    top: 30%;
    padding: 20px;
    width: 90%;

}
.main_txt p{
    padding: 20px;
    border-style: solid;
    font-size: 10vw;
}
.nav_list{
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 30%;
    padding: 20px;
}
.nav_item{
    padding: 10px;
    list-style: none;
    font-size: 25px;
}
.nav_item a{
    text-decoration: none;
    color: white;
}
.logo{
    width: 80%;
    padding: 10%;
}

/*      mid section     */
.lead_img{
    text-align: center;
    padding: 20px;
}
.lead_img img{
    width: 100%;
}
.lead_txt{
    text-align: center;
    padding: 25px;
}
.lead_txt p{
    line-height: 1.6;
    padding: 20px 5px;
}
.creations_header{
    padding: 30px;
}
.creations_header p{
    text-align: center;
    font-size: 30px;
}
.creation_image{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px 25px;
    position: relative;
}
.creation_image div{
    position: absolute;
    padding: 20px;
    bottom: 10px;
    font-size: 1.2em;
    color: white;
}
.main_img{
    width: 100%;
    box-shadow: 10px 10px 5px black;
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: inset 10px 10px 50px #fff;
}

.create_btn{
    padding: 20px;
    text-align: center;
}
.main_btn{
    height: 40px;
    width: 150px;
}

/*      footer      */
footer{
    background-color: black;
}
.nav_logo_footer{
    text-align: center;
    margin-top: 50px;
}
.logo_footer{
    padding: 50px 50px 30px 50px;
}
.nav_logo_footer ul{
    list-style: none;
}
.nav_footer_item{
    padding: 10px;
}
.social_list{
    text-align: center;
    list-style: none;
    columns: 4;
    width: -moz-fit-content;
    margin: auto;
    width: fit-content;
}
.nav_logo_footer ul li a{
    text-decoration: none;
}
.social_icons{
    padding: 40px 0px 20px 0px;
}
.social_list li{
    padding: 5px;
}
.license{
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
/*  w3schools css   */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  @media only screen and(min-width: 799px){
    .nav_icon{
        display: none;
    }
    .nav{
        width: 100%;
        height: auto;
        z-index: 1;
    }
    .nav_list{
        display: grid;
        position: initial;
        padding: 0;
        columns: 5;
    }
    .nav_item{
        padding: 0;
        text-align: center;
    }
    .main_txt{
        width: 50%;
    }
    .main_txt p{
        font-size: 5vw;
    }
}

@media only screen and (min-height: 800px){
    .main_txt{
        width: 50%;
    }
    .main_txt p{
        font-size: 5vw;
    }
}