*{
    padding: 0;
    margin: 0;
}
.intro{
    position: relative;
}
.intro img{
    width: 100%;
}
.nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.logo{
    width: 200px;
}
.nav_icon{
    display: none;
}
.nav_list{
    columns: 5;
    list-style: none;
}
.nav_item a{
    text-decoration: none;
}
.main_txt{
    position: absolute;
    border-style: solid;
    left: 10%;
    bottom: 20%;
    padding: 20px;
    font-size: 4vw;
    width: 40vw;
}
.mid{
    display: grid;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.lead{
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr; 
}
.hero_image_holder{
    width: 100%;
}
.lead_txt{
    position: absolute;
    width: 25vw;
    height: 20vw;
    right: 8vw;
    bottom: 0;
    padding: 3%;
    background-color: white;
}
.lead_txt h1{
    columns: 1;
    font-size: 2vw;
    padding: 4%;
}
.lead_txt p{
    font-size: 1.1vw;
    columns: 1;
    padding: 4%;
    line-height: 1.6;
}
.creations{
    position: relative;
    padding-top: 5vh;
}
.creations_header{
    padding: 2vh 0 5vh 0;
}
.create_btn{
    position: absolute;
    top: 6vh;
    right: 0;
}
.creation_post{
    columns: 4;
}
.creation_image{
    position: relative;
    padding-bottom: 2vh;
}
.creation_image div{
    position: absolute;
    color: white;
    bottom: 4vh;
    left: 2vw;
}

footer{
    background-color: black;
    color: white;
    columns: 2;
    padding: 5vw;
}
.nav_footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    width: fit-content;
    width: -moz-fit-content;
}
.nav_footer_item a{
    text-decoration: none;
}
.social_media{
    text-align: end;
}
.social_icons{
    display: grid;
    justify-content: end;

}
.social_icons ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    width: fit-content;
    width: -moz-fit-content;
}
.list_item{
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px;
}
.license{
    padding-top: 2%;
}
@media only screen and (min-width: 1440px){
    .mid{
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .lead_txt{
        right: 0;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1439px){
    .mid{
        margin-left: 7.5vw;
        margin-right: 7.5vw;
    }
    .lead_txt{
        right: 4vw;
    }
}